{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}
    {% block content %}
        <h1>Toutes les catégories</h1>
        <div class="container">
            <div class="row">
                {% for category in categories %}
                    <div class="col">
                        <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}
                        </a>
                    </div>
                {% else %}
                    Aucune catégorie pour le moment 😓
                {% endfor %}
            </div>
        </div>
        <section>
            <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
            ou
            <a href="{{ path('program_new') }}">Ajouter une série</a>
        </section>

        <section>
            <a href="{{ path('app_index') }}">Retour à l'accueil</a>
        </section>


    {% endblock %}