{% extends "base.html.twig" %}

{% block title %}Toutes les séries {% endblock %}

{% block content %}
    <h1>Toutes les series de la table program</h1>
    {% for program in programs %}
        <div class="w-75 p-3">
            <h2>{{ loop.index }} /
                <a href="{{ path('program_show', {'slug': program.slug }) }}">{{ program.title }}</a>
            </h2>
            <p class="">{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

