{% extends "base.html.twig" %}

{% block title %}{{ program.title }}{% endblock %}
{% block content %}
    <div class="media">
        <div class="container">
            <img class="rounded mx-auto d-block" src="{{ program.poster }}" alt="{{ program.title }} poster">
        </div>
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            {% for actor in program.actors %}

                <ul>
                    <li><a href="{{ path('actor_show', { 'id': actor.id}) }}">{{ actor.name }}</a></li>
                </ul>

            {% else %}

                <p>Pas d'acteur enregistré pour cette serie</p>

            {% endfor %}
        </div>
    </div>

    <nav class="season">
        <table>
            <thead>
            <tr>
                <th>N° de saison</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for season in program.seasons %}
            <tr>
                <td>saison {{ season.number }}</td>
                <td>
                    <a href="{{ path('program_season_show', { 'slug': program.slug, 'number': season.number }) }}">Voir
                        les épisodes</a>
                </td>
            </tr>
            </tbody>
        </table>
        {% endfor %}

        <a href="{{ path('season_new') }}">Ajouter une saison</a>
    </nav>

    <div>
        <a href="{{ path('category_show', { 'categoryName': program.category.name}) }}">Retour à la catégorie</a>
        <br>
        <a href="{{ path('program_edit', { 'slug': program.slug}) }}">Editer la série</a>

    </div>
{% endblock %}
