{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ program.title }}</h1>
    <section>
        <p>résumé de la saison : <br> {{ season.description }}</p>

        <h2>Saison {{ season.number }} <br> parue en {{ season.year }}</h2>

        <p>Liste des épisodes : </p>

        {% for episode in season.episodes %}
            <p>episode {{ episode.number }} : {{ episode.title }}</p>
            <a href="{{ path('program_episode_show', {
                'program_slug': program.slug,
                'number': season.number,
                'episode_slug': episode.slug
            }) }}">
                Détail de l'épisode
            </a>
            <br>

        {% endfor %}
    </section>

    <div>
        <a href="{{ path('program_show', { 'slug': program.slug }) }}">Retour à la fiche détaillée
        </a>
    </div>

{% endblock %}
