{% include 'base.html.twig' %}

{% block content %}
{{ dump() }}
<h1>{{ program.title }}</h1>

    <section>
        <p>résumé de la série : <br> {{ program.summary }}</p>

        <h2>Saison {{ season.id }} <br> parue en {{ season.year }}</h2>

        <p>Liste de épisodes : </p>

        {% for episode in season.episodes %}

        <h3>episode {{ episode.number }} : {{ episode.title }}</h3>
        <p>synopsis : <br> {{ episode.synopsis }}</p>

        {% endfor %}
    </section>

    <nav>
        <a href="{{ path('program_show', { id: program.id }) }}">Retour à la fiche détaillée
        </a>
    </nav>

{% endblock %}